<strong>Hello, {{ deliveryman }}</strong>
<p>{{ product }} product has been canceled, product detail canceled below:</p>
<p>
  <strong>Client: </strong> {{ name }} <br />
  <strong>Street: </strong> {{ street }} <br />
  <strong>Number: </strong> {{ number }} <br />
  <strong>Complement: </strong> {{ complement }} <br />
  <strong>State: </strong> {{ state }} <br />
  <strong>City: </strong> {{ city }} <br />
  <strong>Zip code: </strong> {{ zipCode }} <br />
</p>

